header {
    color: black;
    padding-left: 1%;
    padding-top: 1.2%;
}
#header-index {
    color:#00ff21ff;
}
header,body,.navbar,.video-contanier, .video-title,aside{
    font-family:'Comic Sans MS';
}


header, body,  .video-contanier, .video-title, aside {
    background-color:antiquewhite;
}

.bordered {
    border: 2px solid black;
    background-color: azure;
    padding: 10px;
}

.video-contanier {
    display: inline-block;
}

.navbar {
    color: darkgray;
    padding-left: 15%;
}
.navbar:hover {
    color: aliceblue;
  
}
.inp {
    margin: 20px 5px;
}
.video-title {
    font-size: 22px;
    color: red;
}

footer {
    position: absolute;
    bottom: 0;
    line-height: 66%;
    margin-left:25px;
}

aside {
    height: 100%;
    width: 10%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

body {
    padding-left: 11%;
}
